<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Trade Forger</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="icon" type="image/png" href="https://p16.resso.me/img/tos-alisg-i-0000/6b3dac2aa0964b6dab2eb19fd662dd5a~c5_750x750.jpg">
	</head>
	<body 
		style="background-image: url('https://4kwallpapers.com/images/wallpapers/macos-monterey-stock-green-dark-mode-layers-5k-3440x1440-5890.jpg'); background-size: cover; background-position: center; height: 100vh;" 
	>
		<main class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
			<div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-xl xl:p-0 dark:bg-zinc-900" >
				<div class="p-6 space-y-4 md:space-y-6 sm:p-8 sm:pb-0" style="zoom: 70%">
					<h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white mb-9">
					<center>
						<img src="https://p16.resso.me/img/tos-alisg-i-0000/6b3dac2aa0964b6dab2eb19fd662dd5a~c5_750x750.jpg" alt="" width="10%" class="rounded-xl inline" draggable="false">
						<p class="inline ml-3">9ggy's Trade Forger</p>
					</center>
					</h1>
					<form class="space-y-4 md:space-y-6" action="/" method="POST">
						<div>
						<div>
								<label for="uname" class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white">
									<p class="inline ml-1">Victim Username</p>
								</label>
								<div class="relative mb-6">
									<div
										class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
									>
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-zinc-400">
										<path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd" />
									</svg>
	
									</div>
									<input
										type="text"
										id="uname"
										name="uname"
										class="bg-zinc-50 text-sm rounded block w-full pl-10 p-2.5 bg-zinc-700 mb-10 text-white"
										placeholder="Roblox"
									/>
								</div>
						</div>
						
						<div>
							<label for="attackerLimiteds" class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white">
								<p class="inline ml-1">Attacker Limited ID's</p>
								</label>
								<textarea
									style="resize: none;"
									id="attackerLimiteds"
									name="attackerLimiteds"
									rows="6"
									class="block p-2.5 w-full text-sm rounded bg-zinc-700 mb-10 text-white"
									placeholder="s494291269,1365767"
								></textarea>

								<label for="victimLimiteds" class="block mb-2 text-sm font-medium text-gray-900 text-white">
										<p class="inline ml-1">Victim Limited ID's</p>
								</label>
								<textarea
									style="resize: none;"
									id="victimLimiteds"
									name="victimLimiteds"
									rows="6"
									class="block p-2.5 w-full text-sm rounded bg-zinc-700 mb-10 text-white"
									placeholder="1530795"
								></textarea>
						</div>

						<center>
							<button class="relative inline-flex items-center justify-center p-1 mb-2 mr-2 overflow-hidden text-sm font-medium text-zinc-900 rounded-lg group bg-gradient-to-br from-blue-500 to-green-400 group-hover:from-blue-500 group-hover:to-green-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-200 dark:focus:ring-blue-800">
								<span class="relative px-5 py-2.5 transition-all ease-in duration-100 bg-white dark:bg-zinc-900 rounded-md group-hover:bg-opacity-0">
									<input class="submitinfo" type="submit" value="Generate Trade Page" />
								</span>
							</button>
						</center>
					</form>
				</div>
			</div>

			<footer class="bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-zinc-900 mt-4 p-10">
				<span class="text-zinc-500 inline" style="font-size: 11px;">© 9ggy™
				</span>
				<a class="ml-3" href="https://github.com/9ggy">
					<img src="https://www.svgrepo.com/show/436225/github.svg" alt="" width="15px" style="filter: invert(44%) sepia(15%) saturate(175%) hue-rotate(202deg) brightness(96%) contrast(91%);" draggable="false" class="inline">
				</a>
			</footer>
		</div>
		
	</body>
</html>
